<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Historical Worker Report </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="table_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Reservations Created: activate to sort column descending">Reservations Created</th>
                                            <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-label="Reservations Accepted: activate to sort column ascending">Reservations Accepted</th>
                                            <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-label="Reservations Cancelled: activate to sort column ascending">Reservations Cancelled</th>
                                            <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-label="Reservations Rejected: activate to sort column ascending">Reservations Rejected</th>
                                            <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-label="Reservations Timed Out: activate to sort column ascending">Reservations Timed Out</th>
                                            <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-label="Reservations Rescinded: activate to sort column ascending">Reservations Rescinded</th>
                                            <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-label="Tasks Assigned: activate to sort column ascending">Tasks Assigned</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in historical_data %}
                                            <tr role="row">
                                                <td class="sorting_1">{{ data.reservations_created }}</td>
                                                <td>{{ data.reservations_accepted }}</td>
                                                <td>{{ data.reservations_canceled }}</td>
                                                <td>{{ data.reservations_rejected }}</td>
                                                <td>{{ data.reservations_timed_out }}</td>
                                                <td>{{ data.reservations_rescinded }}</td>
                                                <td>{{ data.tasks_assigned }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">Reservations Created</th>
                                            <th rowspan="1" colspan="1">Reservations Accepted</th>
                                            <th rowspan="1" colspan="1">Reservations Cancelled</th>
                                            <th rowspan="1" colspan="1">Reservations Rejected</th>
                                            <th rowspan="1" colspan="1">Reservations Timed Out</th>
                                            <th rowspan="1" colspan="1">Reservations Rescinded</th>
                                            <th rowspan="1" colspan="1">Tasks Assigned</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script type="text/javascript">
  //$(function () {
    $('#table').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "scrollX": true
    });
 // });
 </script>